<!DOCTYPE html>
<html lang="fr">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
 <title> 
 {% block title %}
  VOOTS
 {% endblock %}
 </title>
 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  {% block stylesheets %}
    <link href="{{ asset('bundles/vootsindex/style_main.css') }}" rel="stylesheet" />
  {% endblock %}
  
  <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('bundles/vootsindex/favicon/apple-icon-57x57.png') }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ asset('bundles/vootsindex/favicon/apple-icon-60x60.png') }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/vootsindex/favicon/apple-icon-72x72.png') }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ asset('bundles/vootsindex/favicon/apple-icon-76x76.png') }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/vootsindex/favicon/apple-icon-114x114.png') }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ asset('bundles/vootsindex/favicon/apple-icon-120x120.png') }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ asset('bundles/vootsindex/favicon/apple-icon-144x144.png') }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ asset('bundles/vootsindex/favicon/apple-icon-152x152.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/vootsindex/favicon/apple-icon-180x180.png') }}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('bundles/vootsindex/favicon/android-icon-192x192.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('bundles/vootsindex/favicon/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ asset('bundles/vootsindex/favicon/favicon-96x96.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('bundles/vootsindex/favicon/favicon-16x16.png') }}">
<link rel="manifest" href="{{ asset('bundles/vootsindex/favicon/manifest.json') }}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ asset('bundles/vootsindex/favicon/ms-icon-144x144.png') }}">
<meta name="theme-color" content="#ffffff">


</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    {% block navbar %}
    <div class="navbar-header">
        <a href="{{ path('voots_index_homepage') }}"><img src="{{ asset('bundles/vootsindex/voots.png') }}" href="#" class="imagelogo" alt="VOOTS"></a>
    </div>
    <div class="collapse navbar-collapse">
        VOOTS Politique Numérique
      <ul class="nav navbar-nav navbar-right">
        {% if app.request.attributes.get('_route')!= "voots_index_homepage" %}
          <li><a href="{{ path('voots_index_videos') }}"><img src="{{ asset('bundles/vootsindex/navbar/IconeVideos.PNG') }}" class="imagemenu" alt="Videos">Vidéos</a></li>
          <li><a href="{{ path('voots_index_infographies') }}"><img src="{{ asset('bundles/vootsindex/navbar/Info.PNG') }}" class="imagemenu" alt="Videos">Infographies</a></li>
          <li><a href="{{ asset('http://www.blog.voots.fr') }}"><img src="{{ asset('bundles/vootsindex/navbar/Blog.PNG') }}" class="imagemenu" alt="Videos">Blog</a></li>
          <li><a href="{{ path('voots_index_coeur') }}"><img src="{{ asset('bundles/vootsindex/navbar/CoupsDeCoeur.PNG') }}" class="imagemenu" alt="Videos">Coups de Coeur</a></li>
        {% endif %}
      {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}{#
      <!--  <li><a href="{#{{ path('fos_user_profile_show') }}">{{ app.user.username }} </a></li>
      <!--  <li><a href="{#{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
     {# {% else %}
      <!--  <li><a href="{#{{ path('fos_user_security_login') }}">Connexion</a></li>-->
     {# {% endif %}#}
      </ul>
    </div>
    {% endblock %}
     </div>
 
</nav>
  <div class="row content">
      
  {% block sidenav %}
  <div class="col-sm-1 sidenav">
  </div> 
  {% endblock %}
  
  <div class="col-sm-10 text-justify"> 
  {% block body %}
      
  {% endblock %}
</div>
<div class="col-sm-1 sidenav">
</div>  
</div>
<footer class="container-fluid text-center">
  
    <div class="vocation">VOOTS, un site à vocation citoyenne</div>
  <div class="row content">
   
        <a class="pied" href="{{ path('voots_index_apropos') }}">A PROPOS DE VOOTS - </a>
    
        <a class="pied" href="{{ path('voots_index_contact') }}">CONTACT - </a>
   
        <a href="https://www.facebook.com/VOOTS-1794052280851719/"target="_blank"><button class="btn btn-fb"><i class="fa fa-facebook"></i></button></a>
        <a href="https://twitter.com/voots_officiel"target="_blank"><button class="btn btn-tw"><i class="fa fa-twitter"></i></button></a>
		<a href="https://www.youtube.com/channel/UCUy2JawRsONIITXjBZT3nSw"target="_blank"><button class="btn btn-yt"><i class="fa fa-youtube"></i></button></a>
    
  
</footer>

{% block javascripts %}
            <script src="{{ asset('bundles/vootsindex/javascript.js') }}"></script>
{% endblock %}

</body>
</html>
