{% extends "VOOTSIndexBundle::layout.html.twig" %}


{% block title %}
    {{ parent() }} - Index
{% endblock %}

{% block body %}

{% for uncoupdecoeur in listecoupsdecoeur %}    
<a href="{{uncoupdecoeur.url}}" target="_blank">
<div class="row content well">
  <div class="col-sm-2">
    <img src="{{ asset('bundles/vootsindex/coupdecoeur/' ~ uncoupdecoeur.image) }}" alt="{{uncoupdecoeur.name}}" class="img-responsive img-rounded">  
  </div> 
  <div class="col-sm-7">
{{uncoupdecoeur.description}}
  </div>     
</div>
</a>
{% endfor %}

{% endblock%}