{% extends "VOOTSIndexBundle::layout.html.twig" %}


{% block title %}
    {{ parent() }} - Index
{% endblock %}


{% block body %}
    <div class ="container-fluid notreProjet text-center">
        <h2>Bonjour et bienvenue sur votre site de vulgarisation politique  </h2>
        <p>Vous avez toujours voulu vous intéresser à la politique mais vous ne saviez pas par où commencer ?</p>
        <p>Vous êtes un peu pressé mais vous avez quand même envie d'en connaître plus sur nos institutions ?</p>
        <p>Vous avez juste envie de vous raffraichir la mémoire ou d'apprendre de façon ludique comment marche la politique de notre pays?</p>
        <p>Quelques soient les raisons, vous êtes au bon endroit pour en apprendre un peu plus,</br> 
            alors cliquez sur un des sujet ci-dessous pour en savoir plus!</p>
    </div>
    <div class="container-fluid tagNoms">
        <div class ="row">
            <div class="col-sm-2">
            </div>
            <div class ="col-sm-8">
                        <div class="table-responsive motClesTableau">
                            <table class="table borderless">  
                                {% for tag in listeTags %}
                                     {% if (loop.index % 3) == 1 %}
                                        <tr>
                                    {% endif %}
                                    <td>
                                    <a href="{{ path('voots_index_page', { 'tag': tag.nom }) }}"><button type="button" class="btn btn-tag btn-block">{{tag.nom}}</button></a>
                                    {% if (loop.index % 3) == 0 %}
                                         </tr>
                                    {% endif %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>
            <div class="col-sm-2">
            </div>
        </div>
    </div>
 <div hidden="true" class="image-vote-index">
    <a href="{{ path('voots_index_associations') }}"><img src="{{ asset('bundles/vootsindex/tableau-index/vote_association.png') }}" class ="financement-asso"></a> 
</div>             
<script>
$(document).ready(function(){
    var isChrome = !!window.chrome && !!window.chrome.webstore;
    if (isChrome) {   
        $(".image-cliquable").hover(function() {

            $(this).css('width', 'inherit');
            $(this).css('height', 'inherit');
          });
    }    
});    
</script> 
{% endblock %}
